

<head>
    {%- assign title = page.title -%}
    {%- if site.data.meta.title -%}
        {% assign title = site.data.meta.title | append: " | " | append: page.title %}
    {%- endif -%}
    {% if page.title == nil %}
        {% assign title = site.data.meta.title | append: " | " | append: "404" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.data.meta.author }}">
    <meta name="description" content="{{ site.data.meta.description }}">
    <meta name="keywords" content="{{ site.data.meta.keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="assets/favicon.svg">
    <link rel="stylesheet" href="assets/main.css">
</head>