<head>
    {%- assign title = page.title -%}
    {%- if site.title -%}
    {% assign title = site.title | append: " | " | append: page.title %}
    {%- endif -%}
    {% if page.title == nil %}
    {% assign title = site.title | append: " | " | append: "404" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="icon" type="image/ico" href="{{ '/assets/favicon.svg' | relative_url }}">
    <link href="{{ '/assets/main.css' | relative_url }}" rel="stylesheet">
</head>
