<div id="categories-container">
    <h1 id="posts-categories-header">Categories</h1>
    {% for category in site.categories %}
        <div class="category-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <h2 id="{{ category_name | slugize }}" class="category-head">{{ category_name }}</h2>
        <ul>
            {% for post in site.categories[category_name] %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
            {% endfor %}        
        </ul>
        
        </div>
    {% endfor %}
</div>