{% if site.tags %}
<div id="tags-container">
    <h1 class="blog-header" id="blog-tags">Tags</h1>
    {% for tag in site.tags %}
    <div class="tag-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <h3 id="{{ tag_name | slugize }}" class="tag-head">{{ tag_name }}</h3>
        <ul class="post-tags">
            {% for post in site.tags[tag_name] %}
            <li class="post-tag"><a href="{{ site.baseurl }}{{ post.url | relative_url }}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{%endif%}