/* Code blocks and code prases */
code {
    word-wrap: break-word;
    display: inline;
    width: auto;
    padding: 0 0.25rem;
    background-color: $background-middle;
    font-family: $mono-font;
}

code * {
    font-family: $mono-font;
}

/* Code phrases */
:not(pre) > code {
    color: $text-dark;
    border-radius: $border-radius;
    font-size: 1.4rem;
}

/* Codeblocks */
pre {
    margin: $margin 0;
    padding: 0;
    display: block;
    border-radius: $border-radius;
}

@media screen {
    pre {
        max-height: 70vh;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

pre > code {
    white-space: pre-wrap;
    margin: 0;
    padding: 1rem;
    display: block;
    font-size: 1.3rem;
    line-height: 1.3em;
}
pre > code * {
    font-size: 1.3rem;
}
.language-python pre code {
    white-space: pre;
    overflow-x: scroll;
    overflow-y: scroll;
}

/* Syntax highligt 
.highlight {
background: #fff;

.highlighter-rouge & {
    background: #eef;
}
    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #9a031e; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #222222; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #222222; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #9a031e } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #222222; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #222222; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #9a031e } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #dd6e42 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #9a031e; font-weight: bold } // Name.Exception
    .nf    { color: #9a031e; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #295180 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #3d405b } // Literal.Number.Float
    .mh    { color: #3d405b } // Literal.Number.Hex
    .mi    { color: #3d405b } // Literal.Number.Integer
    .mo    { color: #3d405b } // Literal.Number.Oct
    .sb    { color: #dd6e42 } // Literal.String.Backtick
    .sc    { color: #dd6e42 } // Literal.String.Char
    .sd    { color: #dd6e42 } // Literal.String.Doc
    .s2    { color: #dd6e42 } // Literal.String.Double
    .se    { color: #dd6e42 } // Literal.String.Escape
    .sh    { color: #dd6e42 } // Literal.String.Heredoc
    .si    { color: #dd6e42 } // Literal.String.Interpol
    .sx    { color: #dd6e42 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #dd6e42 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #295180 } // Name.Variable.Class
    .vg    { color: #295180 } // Name.Variable.Global
    .vi    { color: #295180 } // Name.Variable.Instance
    .il    { color: #295180 } // Literal.Number.Integer.Long
}
*/