/* Style note containers */
.note,
.note_warning,
.note_caution,
.note_tip {
    padding: 0.5rem 1rem;
    background-color: $background-middle;
    display: block;
    border-left: $border;
    font-size: 1.4rem;
    border-radius: $border-radius;
}

/* Style note captions */
.note::before,
.note_warning::before,
.note_caution::before,
.note_tip::before {
    white-space: pre;
    font-size: inherit;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
}

/* Provide note captions */
.note::before {
    content: "NOTE: ";
}

.note_warning::before {
    content: "WARNING: ";
}

.note_caution::before {
    content: "CAUTION: ";
}

.note_tip::before {
    content: "TIP: ";
}
