<div class="print" id="cover-back">
    <div id="cover-back-content">

            <div class="footer-column footer-contact">
                <h1 class="print-header">Contact</h1>
                {%- if site.data.contact %}
                    {%- assign con = site.data.contact -%}
                    <ul>
                    {%- for entry in con -%}
                        {%- assign key = entry | first -%}
                        {% if con[key].id %}
                        <li><img class="footer-icon" src="{{ con[key].icon_dark }}"><a target="blank" class="footer-image-link" href="{{ con[key].href }}{{ con[key].id }}" title="{{ con[key].title }}">{{ con[key].href | remove_first: 'mailto:' | remove_first: 'https://' }}{{ con[key].id }}</a></li>
                        {%- endif -%}
                    {% endfor %}
                    </ul>
                {%- endif %}
            </div>
            <div class="footer-column footer-copyright">Copyright © {{site.data.meta.since}}-{{ 'now' | date: "%Y" }} <a class="footer-link" href="{{site.data.contact.email.href}}{{site.data.contact.email.id}}" target="blank">{{site.data.meta.author}}</a>.</div>        
        
    </div>
</div>