/* Images */
img {
  overflow: auto;
  padding: 0;
  margin: $margin 0;
  max-width: 100%;
  display: block;
}

img.center {
  margin: $margin auto;
  display: block;
}
.left {
  float: left;
  display: block;
}
.right {
  float: right;
  display: block;
}

/* Figures */
figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  color: $primary-color;
}
