/* Position paragraphs */
p {
    margin: $margin 0 0 0;
    display: block;
    font-size: 1.6rem;
}

/* Reduce margins after titles */
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: $margin-small;
}