/* Style cite elements. */
cite {
    font-style: italic;
}

/* Style quote elements */
q {
    font-style: italic;
}
q::before,
q::after {
    content: '"';
    font-style: inherit;
}

/* Style long quote elements. */
blockquote {
    width: fit-content;
    margin: $margin 0;
    padding: 0 0.5rem 0 0.5rem;
    background-color: $background-middle;
    font-size: 1.3rem;
    border-radius: $border-radius;
}
blockquote * {
    font-size: 1.3rem;
}